---
layout: default
title: Пеленицын Артём Михайлович, домашняя страница
permalink: index.rus.html
---

<div class="profile-container">
	<div class="profile-image-section">
		<img src="{{ site.mypic }}" alt="Фото профиля" />
	</div>
	<div class="profile-content">
		{% comment %} include bio from extern file in markdown: {% endcomment %}
		{% capture bio %}{% include bio.md %}{% endcapture %}
		{{ bio | markdownify }}
	</div>
</div>

{% comment %} include links from extern file in markdown: {% endcomment %}
{% capture links %}{% include links.md %}{% endcapture %}
{{ links | markdownify }}
