---
layout: default-en
title: Artem Pelenitsyn, homepage
permalink: index.html
---

<table cellspacing="6px">
	<tr>
	<td style="vertical-align:top">
		<img src="{{ site.mypic }}" height="250" border="0" />
      <p style="text-align: right">
      <a href="https://scholar.google.com/citations?user=1k3PQAAAAJ" title="Google Scholar" rel="external nofollow noopener" target="_blank"><i class="ai ai-google-scholar ai-lg"></i></a>
      <a href="https://github.com/ulysses4ever/cv/releases/download/head/cv.pdf" title="CV" rel="external nofollow noopener" target="_blank"><i class="ai ai-cv ai-lg"></i></a>
      <a href="https://orcid.org/0000-0001-8334-8106" title="ORCID" rel="external nofollow noopener" target="_blank"><i class="ai ai-orcid"></i></a>
      <br>
      <a id="twitter-link" class="icon" title="Twitter Account" aria-label="Twitter Account"
        href="https://x.com/ulysses4ever">
        <img src="https://unpkg.com/@tabler/icons@3.35.0/icons/outline/brand-x.svg" /></a>&nbsp;
      <a id="facebook-link" class="icon" title="Facebook Profile" aria-label="Facebook Profile"
        href="https://www.facebook.com/ulysses4ever">
        <img src="https://unpkg.com/@tabler/icons@3.35.0/icons/outline/brand-facebook.svg" /></a>&nbsp;
      <a id="telegram-link" class="icon" title="Telegram Channel" aria-label="Telegram Channel"
        href="https://t.me/arpel">
        <img src="https://unpkg.com/@tabler/icons@3.35.0/icons/outline/brand-telegram.svg" /></a>&nbsp;
      <a id="github-link" class="icon" title="Github Account" aria-label="Github Account"
        href="https://github.com/ulysses4ever">
        <img src="https://unpkg.com/@tabler/icons@3.35.0/icons/outline/brand-github.svg" /></a>&nbsp;
      <a rel="me" id="mastodon-link" class="icon" href="https://functional.cafe/@artem">
        <img src="https://unpkg.com/@tabler/icons@3.35.0/icons/outline/brand-mastodon.svg" /></a>
      <br>
      </p>
	</td>
	<td valign="top">
		<p><b>Education:</b> PhD in Computer Science from
    Northeastern University (<a href="https://prl.khoury.northeastern.edu/">NEU PRL</a>, 2023).

		<p><b>Alma mater:</b> <a href="http://sfedu.ru/index_eng.php">Southern Federal University</a>,
    I.I. Vorovitch Institute of Mathematics, Mechanics and Computer Sciences
    (<a href="http://mmcs.sfedu.ru">MMCS, Мехмат</a>).

    <p><b>Current Activities:</b> Post Doc Researcher with
    <a href="https://engineering.purdue.edu/~milind/">Prof. Milind Kulkarni</a>
    at <a href="https://purduepl.github.io/">PurPL</a>, Purdue University.

		<p><b>Contacts:</b> a&#8203;@&#8203;pelenitsyn.top, <a href="https://calendly.com/artem-pe/chat">Calendly</a>.
	</td>
</table>

<p><b> I'm on the academic job market for the 2025/26 cycle. Hit me up if you know of a good place for me.
    My <a href="./artem-application-package.zip">application package is here</a>.</b>

<p><b>🇺🇦 As a Russian national, I strongly condemn the war started by the&nbsp;Russian government in
Ukraine on February 24th 2022.</b>

{% capture text %}{% include index-academic-en.md %}{% endcapture %}
{{ text | markdownify }}

{% capture pubs %}{% include index-pl-en.md %}{% endcapture %}
{{ pubs | markdownify }}

